/*******************************************************************************
Copyright 2012-2017 Ellucian Company L.P. and its affiliates.
*******************************************************************************/
#multiCalendarContainer {
    right:0 ;
}
#checkId{

    width: 1em;
    height: 1em;
    margin-right: 0.5em;
}

#multiCalenderIdCheck{
    height: 3.13em;
    background-color: #F3F7F8 !important;
    font-family: lucidaGrande;
    color: #058423;
    line-height: 3.13em;
    font-size: 16px;
    text-align: center;
}
#multiCalendar1{
    display: none;
}
#multiCalendarContainer::before{
    border-style:none;
}
#multiCalendarContainer::after{
    border-style:none;
}
#multiCalendarContainer .hasCalendarsPicker > div {
    opacity: 1;
    filter: Alpha(Opacity = 100);
}
@media only screen and (min-width: 768px) {

    #multiCalendarContainer {

        width: 47em;

    }
    #multiCalenderIdCheck{
        display: none;
    }

    .ui-icon, .ui-datepicker-cmd-prev, .ui-datepicker-cmd-next, .ui-widget-header .ui-icon.ui-icon-circle-triangle-w, .ui-widget-header .ui-icon.ui-icon-circle-triangle-e {
        height: 2.7em;
        line-height: 2.7em;
    }
    #multiCalendarContainer > div {

        float: left;

    }
    #multiCalendarContainer .hasCalendarsPicker > div {
        opacity: 0.5;
        filter: Alpha(Opacity = 50);
    }
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    border:none;
}
@media only screen and (min-width: 768px) {

    #multiCalendarContainer {
        right:auto ;
        width: auto;
    }

    .ui-datepicker table {
        margin: 0 0.75em 2em;
        padding: 0;
    }
}
.ui-datepicker .ui-datepicker-header {
    padding:0;
}
.hasCalendarsPicker .ui-datepicker {
    width: auto;
}

input.hasMultiCalendarPicker {
    margin: 0 0 0 -22px;
    padding: 0 0 0 25px;
}
.ui-datepicker-weekheader h5{
    padding:0;
    margin:0;
}

input.hasMultiCalendarPicker + span {
    background: url('images/date-picker-sprites-flip.png') no-repeat scroll 0px 1px transparent;

}

input.hasMultiCalendarPicker {
    border-radius: 3px 0 0 3px;
    float: right;
}

input.hasMultiCalendarPicker:hover + span, input.hasMultiCalendarPicker + span:hover {
    background-position: 0px -49px;
}

.ui-datepicker-cmd-prev {
    float: right;
}

.ui-datepicker-cmd-next {
    float: left;
}

.ui-datepicker-row-break {
    float: left;
}

input.hasMultiCalendarPicker.hasTimePicker+ span {
    background: url('images/date-time-sprite.png') no-repeat scroll -7px 0px transparent;
}

input.hasMultiCalendarPicker.hasTimePicker ~ .time-icon {
    background: url('images/date-time-sprite.png') no-repeat scroll -28px 0px transparent;
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
}

input.hasMultiCalendarPicker.hasTimePicker:hover ~ .time-icon, input.hasMultiCalendarPicker.hasTimePicker ~ .time-icon:hover {
    background-position: -28px -50px;
}

.ie8 input.hasMultiCalendarPicker.hasTimePicker ~ .time-icon {
    filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
}


@media only screen and (max-width:767px) and (orientation:landscape){

    #closeId {
        padding-right: 0em;
    }
    #multiCalendarContainer .ui-widget-header {
       width: 29em;
       padding-right: 3em;
        padding-left: 0em;
    }
}
.ui-widget-header .ui-icon.ui-icon-circle-triangle-w:hover {
    background: transparent url("images/arrowrightBlue.svg") no-repeat scroll center center;
}
.ui-widget-header .ui-icon.ui-icon-circle-triangle-e:hover {
    background: transparent url("images/arrowleftBlue.svg") no-repeat scroll center center;
}
