/*******************************************************************************
Copyright 2012-2014 Ellucian Company L.P. and its affiliates.
*******************************************************************************/

.hasCalendarsPicker .ui-datepicker {
    width: auto;
}

input.hasMultiCalendarPicker {
    margin: 0 0 0 -22px;
    padding: 0 0 0 25px;
}

input.hasMultiCalendarPicker + span {
    background: url('images/date-picker-sprites-flip.png') no-repeat scroll 0px 1px transparent;

}

input.hasMultiCalendarPicker {
    border-radius: 3px 0 0 3px;
    float: right;
}

input.hasMultiCalendarPicker:hover + span, input.hasMultiCalendarPicker + span:hover {
    background-position: 0px -49px;
}

.ui-datepicker-cmd-prev {
    float: right;
}

.ui-datepicker-cmd-next {
    float: left;
}

.ui-widget-header .ui-icon.ui-icon-circle-triangle-e {
    background: url("images/datepicker-arrow-back.png") no-repeat scroll 0 0 transparent;
}

.ui-widget-header .ui-icon.ui-icon-circle-triangle-w {
    background: url("images/datepicker-arrow-next.png") no-repeat scroll 0 0 transparent;
}

.ui-datepicker-row-break {
    float: left;
}

input.hasMultiCalendarPicker.hasTimePicker+ span {
    background: url('images/date-time-sprite.png') no-repeat scroll -7px 0px transparent;
}

input.hasMultiCalendarPicker.hasTimePicker ~ .time-icon {
    background: url('images/date-time-sprite.png') no-repeat scroll -28px 0px transparent;
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
}

input.hasMultiCalendarPicker.hasTimePicker:hover ~ .time-icon, input.hasMultiCalendarPicker.hasTimePicker ~ .time-icon:hover {
    background-position: -28px -50px;
}

.ie8 input.hasMultiCalendarPicker.hasTimePicker ~ .time-icon {
    filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
}

