.hasCalendarsPicker .ui-datepicker {
    width: auto !important;
}

input.hasMultiCalendarPicker {
    margin: 0 0 0 -22px!important;
    padding:0 0 0 25px !important;
}
input.hasMultiCalendarPicker + span {
    background: url('images/date-picker-sprites-flip.png') no-repeat scroll 0px 1px transparent!important;
    float:right;
}

input.hasMultiCalendarPicker {
    border-radius: 3px  0  0 3px;
    float:right;
}

input.hasMultiCalendarPicker:focus + span{
    background-position:0px -99px !important;
}

 input.hasMultiCalendarPicker:hover + span, input.hasMultiCalendarPicker + span:hover{
    background-position:0px -49px !important;
}

.ui-datepicker-cmd-prev {
	float: right;
}

.ui-datepicker-cmd-next {
	float: left;
}

.ui-widget-header .ui-icon.ui-icon-circle-triangle-e {
    background: url("images/datepicker-arrow-back.png") no-repeat scroll 0 0 transparent;
}

.ui-widget-header .ui-icon.ui-icon-circle-triangle-w {
    background: url("images/datepicker-arrow-next.png") no-repeat scroll 0 0 transparent;
}

.ui-datepicker-row-break{
    float: left;
}

